.attribution 
{ 
    font-size: 11px; 
    position: relative;
    z-index:3;
    text-align: center;
    margin-top: -1%;
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

.row
{
    /* border:1px solid red; */
}

.leftBlock 
{
    /* border: 1px solid green; */
    position: relative;
    padding-top:2%;
    z-index: 1;
}

@media screen and (max-width:768px)
{
    .leftBlock 
    {
        /* border: 1px solid green; */
        position: relative;
        z-index: 1;
    } 
}

.rightBlock
{
    /* border: 1px solid green; */
    z-index: 0;
    padding-bottom: 15%;
}


.patternContainer
{
    /* border: 1px solid blueviolet; */
    position: relative;
    z-index:0;
    margin-top:4%;
}
.photoContainer
{
    /* border: 1px solid blueviolet; */
    position: relative;
    z-index: 1;
    margin-top: -86%;
    margin-bottom: 16%;
}

.userPhoto
{
    margin-left:20%;
    box-shadow: -2px 19px 40px -21px #000000;
}

.quoteContainer
{
    /* border: 1px solid blueviolet; */
    display: inline-block;
    position: relative;
    z-index: 0;
    top: 34px;
    left: 10%;
}
@media screen and (max-width:768px)
{
.quoteContainer {
    /* border: 1px solid blueviolet; */
    display: inline-block;
    position: relative;
    z-index: 0;
    top: 4px;
    left: 28%;
}
}

.contentContainer
{
    /* border: 1px solid blueviolet; */
    position: relative;
    z-index: 1;
}

@media screen and (max-width:768px)
{
    .contentContainer {
        /* border: 1px solid blueviolet; */
        position: relative;
        z-index: 1;
        margin-top: -8%;
    }
}


.footerImg
{
    margin-top: -2%;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-left: -15px;
}

@media screen and (min-width:768px)
{
    #mySelf
    {
        color:hsl(240, 38%, 20%);
        font-size: 32px;
        font-family: Inter;
        font-weight: 300;
    }
    
    #name
    {
        color:hsl(240, 38%, 20%);
        font-weight: 700;
    }
    
    #position
    {
        color: hsl(240, 18%, 77%);
        font-weight: 500;
        font-size: 20px;
    }
    
    #nameTag
    {
        font-size: 25px;
    }
    
}

@media screen and (max-width:768px)
{
    #mySelf
{
    color:hsl(240, 38%, 20%);
    font-size: 22px;
    font-family: Inter;
    font-weight: 300;
    text-align: center;
}

#name
{
    display:block;
    color:hsl(240, 38%, 20%);
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

#position
{
    display:block;
    color: hsl(240, 18%, 77%);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

#nameTag
{
    font-size: 25px;
}

}

.moveIcon
{
    position: relative;
    z-index:2;
    margin-top: -19%;
    margin-left: 41%;
}

.prev
{
display: inline-block;
border:1px solid #ffffff;
padding:10px;
border-radius:50% 0px 0px 50%;
background-color: #ffffff;
}
.next
{
display: inline-block;
border:1px solid #ffffff;
padding:10px;
border-radius:0px 50% 50% 0px;
background-color: #ffffff;
margin-left:-5px;
}
